body {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 240px 280px 0.5fr;
    gap: 0px;
    height: 100%;
    margin: 10px 100px;
  }
}

#map {
  height: 300px;
  width: 90%;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  @media screen and (min-width: 1024px) {
    grid-column: 2;
    grid-row: 2/4;
  }
}

.contact-text {
  width: 83%;
  h1 {
    font-size: 20px;
    font-weight: bold;
  }
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 2;
    margin-top: 30px;
    h1 {
      font-size: 2rem;
      padding: 10px 20px 20px 0px;
    }
    p {
      font-size: 1.2rem;
      padding: 10px 20px 10px 0px;
    }
  }
}

.hidden-in-mobile {
  display: none;
  @media screen and (min-width: 1024px) {
    display: unset;
  }
}
.forum {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 10px;
  #email:invalid {
    border: 3px solid darkred;
  }
  #email:valid {
    border: 3px solid darkgreen;
  }
  .errorSuccess {
    display: flex;
    flex-direction: column;
    background-color: unset;
    border: unset;
    width: 100%;
    padding: unset;
    & > * {
      background-color: unset;
      border: unset;
      font-size: 1rem;
      width: 100%;
      padding: unset;
    }
    .error {
      color: darkred;
      display: flex;
      flex-direction: column;
    }
    .success {
      color: darkgreen;
    }
  }
  & > * {
    width: 100%;
  }

  select {
    appearance: revert;
    flex: 1;
  }
  input,
  textarea {
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    textarea {
      flex: 1;
      min-height: 200px;
    }
    input {
      flex: 1;
    }
  }
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    #hidden-in-desktop {
      display: none;
    }
    .errorSuccess {
      grid-column: 1;
      grid-row: 4;
      display: flex;
      flex-direction: column;
      background-color: unset;
      border: unset;
      width: 100%;
      padding: unset;
      & > * {
        background-color: unset;
        border: unset;
        font-size: 1rem;
        width: 100%;
        padding: unset;
      }
      .error {
        color: darkred;
        display: flex;
        flex-direction: column;
      }
      .success {
        color: darkgreen;
      }
    }
    #name {
      grid-column: 1;
      grid-row: 1;
    }
    #email {
      grid-column: 2;
      grid-row: 1;
    }
    #message {
      grid-column: 1/3;
      grid-row: 2;
      min-height: 150px;
    }
    .send-message {
      grid-column: 1;
      grid-row: 3;
    }
  }
}

.success {
}

.send-message {
  flex: 0 1 auto;
  text-align: center;
  width: 150px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 5px 7px 5px 7px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(215, 230, 250);
  background-color: #264aaffb;
}
.send-message:hover {
  background-color: var(--color-secondary);
  color: antiquewhite;
  box-shadow: 0 7px 5px grey;
}

footer {
  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
    grid-row: 4;
    margin-top: 45px;
  }
}
.header {
  .logo {
    flex-shrink: 1;
    flex-basis: 20px;
    box-sizing: content-box;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 35px;
    background-color: unset;
  }
  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }
}
