:root {
  --color-bg: #fcedca;
  --color-primary: #faa1c3;
  --color-secondary: #001858;
  --color-text: #172c66;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  justify-content: center;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: arial;
  font-size: 10px;
  margin: 10px;
  padding: 5px 10px 5px 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 0px;
  a {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  .nav-link {
    transition: transform 200ms linear;
    &:hover {
      transform: scale(1.4);
      text-shadow: 3px 3px #172c6633;
    }
  }
  @media screen and (min-width: 1024px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(245, 130, 174, 0.336);
  }
}

.logo {
  flex-shrink: 1;
  flex-basis: 20px;
  box-sizing: content-box;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 35px;
}
.menu {
  flex-shrink: 1;
  font-weight: bold;
  flex-basis: 20px;
  text-align: center;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > * {
      margin: 0px 20px;
    }
  }
}

nav > * {
  padding: 5px;
}

.nav-link {
  &:hover {
    color: #341355;
  }
}

#nav-search {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  box-sizing: content-box;
}

.product-name {
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}

.product-name:hover {
  background-color: #172c66c9;
  color: antiquewhite;
  box-shadow: 0 7px 5px grey;
  border-radius: 10px;
  padding: 3px;
}

.category {
  font-size: 10px;
  font-weight: bold;
  color: dimgray;
  padding: 2px;
}

.price {
  font-size: 12px;
}

.product {
  width: 90%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 200ms linear;
  &:hover {
    transform: scale(1.1);
  }

  .info {
    background-color: rgba(250, 235, 215, 0.692);
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    max-width: 470px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    margin-bottom: 10px;
  }
}

footer {
  background-color: rgba(245, 130, 174, 0.464);
  padding: 10px;
  flex: 1;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
