:root {
  --color-bg: #fef6e4;
  --color-primary: #f582ae;
  --color-secondary: #001858;
  --color-text: #172c66;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* text-align: center; */
  gap: 25px;
  justify-content: center;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: arial;
  font-size: 10px;
  margin: 10px;
  padding: 5px 10px 5px 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header.logo {
  flex-shrink: 1;
  flex-basis: 20px;
  box-sizing: content-box;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 35px;
}
.header.menu {
  flex-shrink: 1;
  font-weight: bold;
  flex-basis: 20px;
  text-align: center;
}

nav > * {
  padding: 5px;
}

.nav-link:hover {
  color: var(--color-primary) !important;
}

.nav-search {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  box-sizing: content-box;
}

.product-name {
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}

.product-name:hover{
  background-color:#172c66c9;
  color: antiquewhite;
  box-shadow: 0 7px 5px grey;
  border-radius: 10px;
  padding: 3px;
}

.category {
  font-size: 10px;
  font-weight: bold;
  color: dimgray;
  padding: 2px;
}

.price {
  font-size: 12px;
}

.product {
  max-width: 500px;
  width: 100%;
  height: 500px;
  background-position: center center;
  flex: 0 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .info {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    max-width: 470px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    margin-bottom: 10px;
  }
}

footer{
  background-color: rgba(245, 130, 174, 0.464);
  padding: 10px;
  flex: 1;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
