body {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 280px 280px 0.5fr;
    gap: 0px;
    height: 100%;
    margin: 0px 100px;
  }
}
.intro {
  flex-shrink: 1;
  text-align: center;
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 2;
    max-width: 75%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
h1 {
  font-size: 35px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  padding-top: 30px;
  font-weight: bold;
}

.Totheshop {
  border: 2px solid black;
  max-width: 200px;
  margin: 20px auto 0px auto;
  border-radius: 6px;
  padding: 5px 7px 5px 7px;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 15px;
  background-color: var(--color-primary);
  transition: transform 100ms linear;
  &:hover {
    transform: scale(1.1);
  }
  @media screen and (min-width: 1024px) {
    margin: 30px 0px 0px;
  }
}

.Totheshop:hover {
  background-color: var(--color-secondary);
  color: antiquewhite;
  box-shadow: 0 7px 5px grey;
}

.description {
  flex-shrink: 1;
  font-size: 20px;
  text-align: center;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.hidden-in-desktop {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.product-section {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media screen and (min-width: 1024px) {
    height: fit-content;
    padding: 20px 0px 20px 20px;
    grid-column: 2;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}
.product-header {
  visibility: hidden;
}
.product-1 {
  background-image: url(../assets/images/cat.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.product-2 {
  background-image: url(../assets/images/hamster.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 2;
    grid-row: 1;
    max-height: 265px;
    background-size: cover;
    width: 100%;
  }
}

.product-3 {
  background-image: url(../assets/images/llama.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 2;
    grid-row: 2;
    max-height: 265px;
    background-size: cover;
    width: 100%;
  }
}

.hidden {
  display: none;
}

.owner {
  display: flex;
  position: relative;
  margin-top: 100px;
  background-color: #f19bbc;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 3;
    place-self: right;
    flex-direction: row;
    margin: 10px 0px;
  }
}

.owner-introduction {
  font: var(--color-primary);
  font-size: 0.7rem;
  font-style: oblique;
  text-align: justify;
  padding: 50px 20px 10px 20px;
  @media screen and (min-width: 1024px) {
    padding: 15px;
  }
}

.owner-picture {
  height: 120px;
  width: 120px;
  position: absolute;
  top: -90px;
  border-radius: 50%;
  @media screen and (min-width: 1024px) {
    position: unset;
    margin: 20px 10px 20px 20px;
  }
}
footer {
  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
    grid-row: 4;
    margin-top: 20px;
  }
}
.header {
  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 200px;
  }
}
