body {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1.5fr 1.75fr;
    grid-template-rows: 120px 80px 480px 0.5fr;
    gap: 0px;
    height: 100%;
    margin: 0px 100px;
  }
}
.header {
  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 200px;
  }
}
.back-button {
  font-size: 15px;
  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
    grid-row: 2;
  }
}

.back-button:hover {
  color: var(--color-primary);
}

.item {
  max-height: 100%;
  .productImage{
    border-radius: 10px;
    height: 470px;
  }
  .information {
    padding: 20px;
    max-width: 480px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    p {
      text-align: center;
    }
    li {
      align-self: flex-start;
      padding: 10px 20px 5px;
      list-style: none;
      font-weight: bold;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }
  .add-to-card {
    border: 1px;
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
    max-width: 250px;
    height: 50px;
    font-size: 1rem;
  }

  .add-to-card:hover {
    background-color: var(--color-secondary);
    color: antiquewhite;
    box-shadow: 0 7px 5px grey;
  }

  .add-to-wishlist {
    border: 1px;
    background-color: rgba(81, 28, 137, 0.718);
    color: #fef6e4;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    font-size: 1rem;
    max-width: 300px;
  }
  .add-to-wishlist:hover {
    background-color: var(--color-secondary);
    color: antiquewhite;
    box-shadow: 0 7px 5px grey;
  }
  .hidden-in-mobile {
    display: none;
    @media screen and (min-width: 1024px) {
      display: unset;
    }
  }
  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 0.5fr;
    .productImage {
      grid-column: 1;
      grid-row: 1/3;
    }
    .information {
      min-width: 60%;
      grid-column: 2;
      grid-row: 1/3;
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      p {
        text-align: left;
      }
      li {
        padding: 10px 0px;
      }
      article {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: bold;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 15px;
      }
    }
  }
}

footer {
  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
    grid-row: 4;
    margin-top: 20px;
  }
}
