body {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 50px auto auto 0.5fr;
    height: 100%;
    margin: 0px 100px;
    align-items: start;
    justify-items: center;
  }
}
.shopping-card {
  display: flex;
  flex-direction: column;
  height: 180px;
  min-width: 400px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(81, 28, 137, 0.718);
  font-size: 13px;
  font-weight: bold;
  @media screen and (min-width: 1024px) {
    grid-column: 4;
    grid-row: 3;
    margin: 0px 5px;
    min-width: 300px;
    height: 300px;
  }
}
#addedItems,
#Wishlists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow: scroll;
  border-radius: 10px;
  margin-bottom: 5px;
  p {
    color: #001858;
  }
}

.divSections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: #fcedca;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 2px;
  transition: transform 100ms linear;
  img {
    border-radius: 50%;
  }
  &:hover {
    transform: scale(1.1);
  }
}
.text {
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 2;
  }
}
.shopping-card h1 {
  color: #fef6e4;
  text-align: center;
  margin-bottom: 10px;
}

.red {
  display: none;
}
.white {
  display: unset;
}

.NaarDeCheckout:hover {
  background-color: var(--color-secondary);
  color: antiquewhite;
}

.NaarDeCheckout {
  flex-shrink: 1;
  flex: 0 0 auto;
  border: 2px;
  border-radius: 6px;
  padding: 5px 7px 5px 7px;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 15px;
  background-color: var(--color-primary);
}

.wishlist {
  display: flex;
  flex-direction: column;
  height: 180px;
  min-width: 400px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  color: antiquewhite;
  background-color: rgba(81, 28, 137, 0.718);
  font-size: 13px;
  font-weight: bold;
  @media screen and (min-width: 1024px) {
    grid-column: 4;
    grid-row: 4;
    min-width: 300px;
    height: 300px;
    margin: 0px 5px;
  }
}

main {
  font-size: 25px;
  font-weight: bold;
}
.product {
  @media screen and (min-width: 1024px) {
    height: 270px;
    width: 270px;
    justify-content: space-between;
  }
}
.product-1 {
  background-image: url(../assets/images/cat.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 3;
  }
}

.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 480px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  @media screen and (min-width: 1024px) {
    font-size: 0.8rem;
  }
}
.product-header button {
  border: 1px;
  background-color: var(--color-primary);
  padding: 5px;
  border-radius: 10px;
  @media screen and (min-width: 1024px) {
    background-color: #faa1c385;
    font-weight: bold;
    color: #001858;
  }
}
.product-header button:hover {
  background-color: var(--color-secondary);
  color: antiquewhite;
  box-shadow: 0 7px 5px grey;
}

.product-2 {
  background-image: url(../assets/images/hamster.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 2;
    grid-row: 3;
  }
}

.product-3 {
  background-image: url(../assets/images/llama.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 3;
    grid-row: 3;
  }
}

.product-4 {
  background-image: url(../assets/images/cow.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 4;
  }
}

.product-5 {
  background-image: url(../assets/images/lion.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 2;
    grid-row: 4;
  }
}

.product-6 {
  background-image: url(../assets/images/bird.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 3;
    grid-row: 4;
  }
}

.product-7 {
  background-image: url(../assets/images/turtle.jpg);
  @media screen and (min-width: 1024px) {
    grid-column: 1;
    grid-row: 5;
  }
}
footer {
  @media screen and (min-width: 1024px) {
    grid-column: 1/5;
    grid-row: 7;
  }
}
.header {
  @media screen and (min-width: 1024px) {
    grid-column: 1/5;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 200px;
  }
}
